obj/
packages/
bin/
artifacts/
.dotnet/
/.vs/msbuild-tasks/v15
/Example/.vs/Example/v15
/Source/GreetingTasks/.vs/GreetingTasks/v15
/msbuild-tasks.sln
/_ReSharper.Caches/ReSharperPlatformVs158_187775cf.msbuild-tasks.00
